body{
    background-color: #6aaffa;
}

h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin: 10px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    background-color: #bcc3f5;
}


.user-info {
    margin-bottom: 10px;
}

.user-info p {
    margin: 5px 0;
}


.post-content {
    margin-bottom: 10px;
}

.post-content h2 {
    margin-top: 0;
}


.delete-button {
    background-color: #f64122;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ee160f;
}

